body {
	border margin-top: 40%;
	padding: 0;
	background-size: cover;
	background-position: top;
	font-family: serif;
}

h2 {
	margin-bottom: 0;
}

h5 {
	margin-top: 0;
	font-style: italic;
}

#theory {
	top: 25%;
	text-align: justify;
	width: 78%;
	color: dark grey;
	left: 10%;
}

#start {
	width: 50%;
	height: 90%;
	border: .5px solid black;
	background: white;
	opacity: 0.8;
	color: black;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border-radius: 8px;
}

#main {
	text-align: center;
	margin: 10px;
}

#sp, #usr {
	width: 220px;
	position: relative;
	color: #4a4845;
	font-size: 10px;
	font-family: "montserrat";
	text-decoration: none;
	margin: 10px 0;
	border: 2px solid black;
	padding: 10px 20px;
	text-transform: uppercase;
	overflow: hidden;
}

#sp:hover {
	border: 2px solid black;
	padding: 10px 20px;
	background: black;
	opacity: 0.8;
	color: white;
}

#usr:hover {
	border: 2px solid black;
	padding: 10px 20px;
	background: black;
	opacity: 0.8;
	color: white;
}

h3 {
	margin-bottom: 0;
}

footer {
	color: #00000f;
	text-align: center;
}